// COLORS
$blue: #35507d;
$green: #13bbb7;
$red: #f03f42;
$orange: #f27063;
$grey: #666666;
$darkgrey: #21292f;
$lightgrey: #dedede;


$active-menu-border-color: #ec7c17;
$navbar-height: 77px;
$content-bg: #f5f7f8;
$content-text-color: #666666;
$sidebar-left-width: 167px;


// WRAPPERS
html, body, .wrapper {
    background-color: $content-bg;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: $navbar-height;


    .layer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1031;
        background-color: black;
        width: 100%;
        height: 0%;
        opacity: 0.0;
        transition: opacity 0.3s;

        &.open {
            height: 100%;
            opacity: 0.5;
            position: fixed;
        }
    }
}


// LEFT AND RIGHT SIDEBAR
.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1032;
    color: #FFF;
    width: 240px;
    transition: transform 0.3s;

    &.left {
        left: 0;
        background-color: $blue;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }

    &.right {
        right: 0;
        width: 167px;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        background-color: $darkgrey;
        width: 240px;


        .close-sidebar {
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            font-size: 28px;
            background-color: $darkgrey;
            padding: 3px 15px 6px 15px;
            text-align: center;
            display: none;
        }

        &.open {
            .close-sidebar {
                display: inline-block;
                left: -52px;
            }
        }
    }

    &.open {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}


// SIDEBAR MENU
.menu {
    list-style: none;
    padding: 0;
    margin: 0;

    overflow-y: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;


    li {
        a {
            display: inline-block;
            padding: 16px 10px 16px 15px;
            color: #FFF;
            width: 100%;
            text-decoration: none;
        }

        &.active a {
            border-left: 5px solid $active-menu-border-color;
            padding: 16px 10px;
        }
    }
}

// RIGHT SIDEBAR'S COMPLIANCE CALENDAR
.sidebar .compliance-calendar {
    font-size: 14px;
    overflow-y: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;

    .time, .title {
        display: block;
        line-height: 2.0;
    }

    h4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 16px;
    }

    .list-group {
        .list-group-item {
            -webkit-border-radius: 0;
            border-radius: 0;
            background: none;
            color: white;
            border: none;
            margin-top: 10px;
            margin-bottom: 10px;

            a {
                color: white;
                display: block;
            }

            &:first-child {
                border-left: 6px solid #7d9bf5;
            }

            &:nth-child(2) {
                border-left: 6px solid #f0bb4a;
            }
        }
    }
}


// NAVIGATION BAR
.navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 -3px 12px 0px #c5c5c5;
    padding-left: 5px;
    padding-right: 5px;

    .navbar-toggler {
        &.left {
            display: inline-block;
        }
        &.right {
            position: relative;

            .badge {
                display: inline-block;
                position: absolute;
                top: 5px;
                right: 5px;
                background-color: #f62459;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                font-size: 12px;
            }
        }
    }

    .navbar-brand-parent {
        text-align: center;
    }

    .nav-user {
        display: none;

        .fa {
            color: #7c90a3
        }

        button::after {
            content: none;
            color:#7c90a3;
        }

        .username {
            letter-spacing: -0.4px;
            color: #40b5e6;
        }

    }

    .dropdown-menu {
        color: #666666;

        .fa {
            color: #666666;
            display: inline-block;
            margin-right: 5px;
        }

        .dropdown-item {
            color: #666666;
            padding: 5px 20px;
        }

        a.dropdown-item {
            &:active, :focus {
                color: #FFFFFF;

                .fa {
                    color: #FFFFFF;
                }
            }
        }
    }
}


// CONTENT
.content {
    padding: 15px 15px;
    flex: 1;
    color: $content-text-color;

    h3 {
        font-size: 18px;
    }

    .entry-header {
        padding: 20px 0;

        h3 {
            margin: 0;
        }
    }

    .nav-pills {
        .nav-item {
            margin-bottom: 15px;
            width: 100%;
            text-align: center;

            .badge {
                color: #FFFFFF;
                background-color: $orange;
                padding: 7px 10px;
                font-size: 14px;
                margin-left: 20px;
            }
        }

        .nav-link {
            background-color: $grey;
            color: white;
            border-radius: 4px;
            min-width: 150px;
        }

        .nav-link.active, .nav-pills .show > .nav-link {
            background-color: $green;
        }
    }


    > .nav-pills > .nav-item > .nav-link {
        display: flex;
        justify-content: space-between;
    }
}


// MOBILE PHONES - LANDSCAPE
@media (min-width: 576px) {
    .navbar {
        padding-left: 1rem;
        padding-right: 1rem;

        .navbar-brand-parent {
            text-align: initial;
        }
    }

    .content {
        padding: 30px;

        .nav-pills {
            margin-bottom: 30px;

            .nav-item {
                margin-bottom: 0;
                display: inline-block;
                width: auto;
                margin-right: 30px;
                text-align: center;
                min-width: 150px;
            }

            .nav-link {
                display: inline-block;
            }
        }
    }
}


// IPAD AND DESKTOPS
@media (min-width: 768px) {
    .navbar {
        width: calc(100% - #{$sidebar-left-width});
        left: auto;

        .navbar-brand-parent {
            width: initial;
            text-align: left;
        }

        .navbar-toggler.left {
            display: none;
        }

        .nav-user {
            display: inline-block;
        }
    }

    .wrapper {
        padding-left: $sidebar-left-width;
        background-color: $blue;

        .layer {
            display: none;
        }

        .sidebar.left {
            transition: none;
            transform: none;
            position: absolute;
            width: $sidebar-left-width;
        }

        .content {
            background-color: $content-bg;
        }
    }
}


@import "./my-training.scss";

